H1 {
	FONT-STYLE: normal; MARGIN-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 12px; FONT-SIZE: 18pt; FONT-WEIGHT: bold
}
H2 {
	BACKGROUND-COLOR: #dddddd; MARGIN-TOP: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 6px; FONT-SIZE: 14pt; FONT-WEIGHT: normal
}
H3 {
	BORDER-BOTTOM: 0px ridge; BORDER-LEFT: 1px ridge; FONT-STYLE: normal; MARGIN-TOP: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 3pt; FONT-SIZE: 12pt; BORDER-TOP: 1px ridge; FONT-WEIGHT: bold; BORDER-RIGHT: 0px ridge
}
H4 {
	FONT-STYLE: normal; MARGIN-TOP: 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 3px; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
H5 {
	FONT-STYLE: italic; MARGIN-TOP: 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 3px; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
P {
	FONT-STYLE: normal; MARGIN-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 3px; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
OL {
	MARGIN-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 6px; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
ADDRESS {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}
TH {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
UL {
	LIST-STYLE-TYPE: disc; MARGIN-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 3px; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
LI {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 3px
}
DD {
	FONT-STYLE: normal; MARGIN-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 6px; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
DT {
	FONT-STYLE: italic; MARGIN-TOP: 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0px; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
I.parameter {
	FONT-STYLE: normal
}
A:link {
	COLOR: #3333ff
}
A:visited {
	COLOR: #3333ff
}
A:hover {
	COLOR: #ff3366; TEXT-DECORATION: none
}
.missing__ {
	COLOR: red
}
.methodname {
	FONT-WEIGHT: bold
}
.signature {
	FONT-STYLE: normal; FONT-FAMILY: Courier
}
.yellowpage H2 {
	BACKGROUND-COLOR: #ffff7f; CLEAR: both
}
.bluepage H2 {
	BACKGROUND-COLOR: #7f7fff; CLEAR: both
}
.greenpage H2 {
	BACKGROUND-COLOR: #7fff7f; CLEAR: both
}
.whitepage H2 {
	CLEAR: both
}
.article H1 {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 30px
}
H3.subtitle I {
	FONT-STYLE: normal
}
H3.subtitle {
	BORDER-BOTTOM-STYLE: none; MARGIN-TOP: -18px; BORDER-LEFT-STYLE: none; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 3px; BORDER-RIGHT-STYLE: none; FONT-SIZE: 14pt
}
